---
title: Encode API Passcode
layout: tutorial

summary: Encode your Merchant ID and API key to create an API passcode required in the Authorization header.

navigation:
    header: na.tocs.na_nav_header
    footer: na.tocs.na_nav_footer
    toc: none

breadcrumbs: false

---

<div class="col-md-6 col-md-offset-3">


<h1>Encode API Passcode</h1>

<p>Encode your Merchant ID and API passcode to create a required Authorization header.</p>


<% form_tag '#', :id => "encodeIdAndKey_form", :class => "form-group" do %>

    <div class="form-group">
      <%= label_tag :merchantId, :caption => "Merchant ID" %>
      <%= text_field_tag :merchantId, :placeholder => 'Your Merchant ID', :id => "merchantId", :required => true %>
    </div>

    <div class="form-group">
      <%= label_tag :apiKey, :caption => "Passcode" %>
      <%= text_field_tag :apiKey, :placeholder => 'Your Passcode', :id => "apiKey", :required => true %>
    </div>

    <%= submit_tag "Encode", :class => "btn btn-default" %>
<% end %>

    <div id="encodeIdAndKey_result" class='block-highlight message hidden'><p></p></div>

<%= javascript_include_tag "na/encode_api_passcode" %>

</div>
